@use 'src/assets/variables.scss' as *; 

.log {
  width: 100vw;

  ul {
    list-style: none;
    height: 50vh;
    width: 100%;
    overflow-y: scroll;

    .item {
      background-color: $lvl-two;
      border-radius: 5px;
      margin: 2vh auto;
      padding: 1em;
      width: 75vw;
  
      .title, .date {
        display: inline-block;
        width: 49%;
      }

      .date {
        text-align: right;
      }

      .descrip {
        font-size: 12px;
        max-height: 2em;
        overflow-y: hidden;
      }
    }
  }
}