@use 'src/assets/variables.scss' as *; 

.item {
  background-color: $lvl-two;
  border-radius: 5px;
  margin: 2vh auto;
  padding: 1em;
  width: 75vw;

  .title, .date {
    display: inline-block;
    width: 49%;
  }

  .date {
    text-align: right;
  }

  .descrip {
    font-size: 12px;
    max-height: 2em;
    overflow-y: hidden;
  }
}