@use 'src/app/variables.scss' as *; 

$menu-height: 12vh;

.menu {
  background-color: $lvl-one;
  margin-top: $menu-height / 4;
  text-align: center;
  height: $menu-height;
  width: 100vw;

  .menu-toggle {
    color: $main-text;
    display: inline-block;
    margin: $menu-height / 3 auto;
    width: 100%;
  }

  .menu-list {
    display: none;
  }
}