<header>
  <nav class="menu">
    <div class="menu-toggle" href="#" (click)="toggleMenu()">
      <h4>Menu</h4>
    </div>
    <ul class="menu-list" *ngIf="menuOpen">
      <li class="menu-item">
        <a href="#" (click)="toggleMenu()" routerLink="/">Home</a>
      </li>
      <li class="menu-item">
        <a href="#" (click)="toggleMenu()" routerLink="/training">Training</a>
      </li>
      <li class="menu-item">
        <a href="#" (click)="toggleMenu()" routerLink="/timer">Timer</a>
      </li>
    </ul>
  </nav>
</header>