<header>
  <nav class="mobile-menu">
    <label for="menu-bar" class="menu-bar">
      <div class="hamburg">
        <div class="ham-line"></div>
        <div class="ham-line"></div>
        <div class="ham-line"></div>
      </div>
      <div class="ham-close" style="display:none;">X</div>
    </label>
    <input type="checkbox" id="menu-bar">
    <ul id="menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">Train</a></li>
      <li><a href="#">Time</a></li>
      </ul>
    </nav>
</header>

<section class="intro">
  <h1>Porrada</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sed consequatur accusantium, totam porro illum.</p>
</section>
		
<router-outlet></router-outlet>
