.timer {
  position: absolute;
  top: 35vh;
  margin: auto;
  text-align: center;
  width: 10em;
  left: 50%;
  margin-left: -5em;
  border-radius: 50%;

  button {
    padding: .35rem;
    margin: .25rem;
    font-weight: bold;
  }
}

form {
  position: absolute;
  bottom: 1em;
  width: 10em;
  left: 50%;
  margin-left: -5em;
  text-align: center;

  .num {
    width: 40%;
  }
}